<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>글 수정하기</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <div class="h1">수정하기</div>
  <form>
    <div class="form-group">
      <label>제목</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label>내용</label>
      <textarea id="textarea" class="form-control" name="content" rows="10"></textarea>
    </div>
    <div class="form-group">
      <label>작성자</label>
      <input type="text" class="form-control" name="author" readonly>
    </div>

    <button type="button" class="btn btn-default" id="modify">수정하기</button>
    <button type="button" class="btn btn-default" id="goList">목록</button>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    let id = [[${id}]];
    $.ajax({
      type : 'GET',
      url : '/api/v1/post/' + id,
      dataType : 'json',
      success : function(resp) {
        console.log(resp.title);
        $('input[name=title]').val(resp.title);
        $('#textarea').text(resp.content);
        $('input[name=author]').val(resp.author);
      },
      error : function(resp){
        alert('error');
      }
    });

    $('#modify').click(function(e) {
      let title = $('input[name=title]').val();
      let content = $('#textarea').val();

      let data = {'title' : title, 'content' : content};

      $.ajax({
        type : 'PUT',
        url : '/api/v1/post/' + id,
        contentType : 'application/json; charset=UTF-8',
        dataType : 'json',
        data : JSON.stringify(data),
        success : function(resp) {
          $(location).attr('href', '/posts/' + resp);
        },
        error : function(){
          alert('error');
        }
      });
    });

    $('#goList').click(function(e) {
      $(location).attr('href', '/posts');
    });
  });
</script>
</body>
</html>