<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>글 조회하기</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" id="title"></h3>
        </div>
        <div class="panel-body" id="content"></div>
        <div class="panel-footer" id="author"></div>
    </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        let id = [[${id}]];
        console.log(id);
        $.ajax({
            type : 'GET',
            url : '/api/v1/post/' + id,
            // contentType : 'application/json; charset=UTF-8',
            dataType : 'json',
            success : function(resp) {
                console.log(resp.title);
                $('#title').text(resp.title);
                $('#content').text(resp.content);
                $('#author').text(resp.author);
            },
            error : function(resp){
                alert('error');
            }
        });
    });
</script>
</body>
</html>