<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>글 목록</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome To MyBlog</h1>
  </div>

  <div class="button">
    <button id="write" type="button" class="btn btn-primary">작성하기</button>
  </div>

  <div class="table">
    <table id="table" class="table">
      <tr id="first">
        <td>#</td>
        <td>제목</td>
        <td>내용</td>
        <td>작성자</td>
        <td>작성일시</td>
        <td>수정일시</td>
      </tr>
    </table>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
      type : 'GET',
      url : '/api/v1/posts',
      // contentType : 'application/json; charset=UTF-8',
      dataType : 'json',
      success : function(resp) {
        console.log(resp);
        let content = resp.content;
        console.log(content);
        $.each(content, function (i) {
          $('#first').after(
                  '<tr style="cursor: pointer" onclick="location.href=\'\/posts\/' + content[i].id + '\'">'+
                  '<td>'+ content[i].id + '</td>'+
                  '<td>'+ content[i].title + '</td>'+
                  '<td>'+ content[i].content + '</td>'+
                  '<td>'+ content[i].author + '</td>'+
                  '<td>'+ content[i].createdDate+ '</td>'+
                  '<td>'+ content[i].modifiedDate+ '</td>'+
                  '</tr>'
          );
        });
      },
      error : function(resp){
        alert('error');
      }
    });

    $('#write').click(function (e) {
      $(location).attr('href', '/posts/write')
    });
  });
</script>
</body>
</html>